Source: philsf-likes-bioinfo
Section: metapackages
Priority: optional
Maintainer: Felipe Figueiredo <philsf79@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.2
# Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://code.launchpad.net/~philsf/+git/philsf-likes-bioinfo
Vcs-Git: https://git.launchpad.net/~philsf/+git/philsf-likes-bioinfo

Package: philsf-likes-bioinfo
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Recommends:
 bioperl,
 psh | libdevel-repl-perl,
 emacs,
 git | git-core,
 git-gui | gitk,
 rsync,
Suggests:
 pdl,
Description: philsf's computational biology toolkit
 Metapackage for a Perl-based bioinformatics environment.
 .
 It enables a general bioinformatics environment, with BioPerl and
 interactive data-language shells for computational biologists'
 workflows.
